body {
    font-family: 'Lato', sans-serif;
    background-color: #121412;
    margin: 0;

    /*Formular generell*/

    .Formular {
        background-color: #5A5C4D;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /*Formular: Generell*/

    .WahlText {
        font-size: 1.3rem;
        text-align: left;
        font-family: "Oldenburg", serif;

        border-bottom: 0.2rem dotted #9FC089;
    }

    /*Formular: Stoffartauswahl*/

    .Stoffart {
        background-color: #39352A;
        width: 120px;
        border-radius: 50%;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    /*

    .Stoffart:hover, .Stoffart:active {
        box-shadow: 0 0 20px #9FC089;
        border-radius: 50%;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    */

    /*Formular: Absenden*/

    /*Formular: Abholung*/

    .InfotextStandort {
        font-size: 1rem;
        font-family: "Oldenburg", serif;
    }


    .btnEndeFormular {
        margin-top: 1rem;
        padding: 1rem;
        font: bold 1rem "Oldenburg", serif;
        color: #B9B0A2;
        outline: #9FC089 dashed;

    }
}
