body {
    font-family: 'Lato', sans-serif;
    background-color: #121412;
    margin: 0;

    /*Formular generell*/


    /*Formular: Generell*/

    .WahlText {
        font-size: 1.3rem;
        text-align: left;
        font-family: "Oldenburg", serif;

        border-bottom: 0.2rem dotted #9FC089;
    }

    /*Formular: Stoffartauswahl*/

    .Stoffart {
        background-color: #39352A;
        width: 120px;
        border-radius: 50%;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    /*

    .Stoffart:hover, .Stoffart:active {
        box-shadow: 0 0 20px #9FC089;
        border-radius: 50%;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    */

    /*Formular: Absenden*/

    /*Formular: Abholung*/

    .InfotextStandort {
        font-size: 1rem;
        font-family: "Oldenburg", serif;
    }


    /*Formular: Weiter und bestätigung*/

    /*    .text-kasten {
            display: none;
        }*/

    .agbButton {
        background-color: #292723;
        color: red;
        border: none;
        box-shadow: none;
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
        display: flex;
        width: 200px;
        align-items: flex-start;
        text-align: left;
    }

    .agbs-close {
        background-color: #292723;
        color: red;
        border: none;
        box-shadow: none;
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
        display: flex;
        width: 200px;
        align-items: flex-start;
        text-align: left;
    }

    .agb-kasten {
        display: none;
        background-color: #292723;
        color: #B9B0A2;
        padding: 2.5rem;
        border-radius: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .btnEndeFormular {
        margin-top: 1rem;
        padding: 1rem;
        font: bold 1rem "Oldenburg", serif;
        color: #B9B0A2;
        outline: #9FC089 dashed;

    }
}
