body {
    font-family: 'Lato', sans-serif;
    background-color: #9FC089;
    margin: 0;

    header {
        background-color: #F1EEDC;
        padding: 2.2rem;

        .offscreenmenu {
            background-color: #F1EEDC;
            height: 100vh;
            width: 100%;
            max-width: 450px;
            position: fixed;
            top: 10rem;
            left: -450px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            text-align: start;
            font-size: 4rem;
            transition: .3s ease;
        }
        .offscreenmenu.active {
            left: 0;
        }

        ul{
            list-style: none;
            font-size: 2rem;
            color:#966D42; font-family: 'Lato', sans-serif;
        }

        nav{
            padding: 1rem;
            /*border: 0.3rem solid #ffffff;*/
            display: flex;
            background-color: #F1EEDC;
        }

        .ham-menu{
            height: 80px;
            width: 80px;
            margin-right:auto;
            position: relative;
        }
        .ham-menu span{
            height: 10px;
            width:100%;
            background-color: #9FC089;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;
        }
        .ham-menu span:nth-child(1) { top: 25%; }
        .ham-menu span:nth-child(3) { top: 75%; }

        .ham-menu.active span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        .ham-menu.active span:nth-child(2) {
            opacity: 0;
        }
        .ham-menu.active span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .logo{
            width:30%;
            hight:30%;

        }

        .desktop-menu{
            display: none;
        }

        /********************************************
            FÜR DESKTOP ANSICHT
       *************************************/
        @media screen and (min-width: 1024px) {
            .desktop-menu{
                .container{
                    max-width: 1200px;
                    margin: 0 auto;
                    padding: 0;
                }

                .header.top{ /*nicht sticky*/
                    background-color: #F1EEDC;
                    color: #fff;
                    padding: 2rem;
                    font-size: 4rem;
                    border-bottom: 1px solid #9FC089;
                }
                .meta-nav{
                    list-style: none;
                    margin:0;
                    padding: 0;
                    display: flex;
                    justify-content: flex-end;
                }
                .meta-nav li{
                    margin-left: 1rem;
                }

                .header-main{
                    background-color: #F1EEDC;
                    position: sticky;
                    top: 0;
                    z-index: 1000;
                    box-shadow: 2px 2px 2px #9FC089;

                }
                .nav-wrapper{
                    display: flex;
                    align-items: stretch;
                    height:80px;
                }
                .main-menu{
                    list-style: none;
                    margin:0;
                    padding: 0;
                    display: flex;
                    flex-grow:1;
                }
                .spenden{
                    position: relative;
                }
                .sub-menu{
                    display:none;
                    position: absolute;
                    top:100%;
                    left:0;
                    background-color: #9FC089;
                    min-width: 220px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                .submenu li a{
                    color: #fff;
                    padding: 1rem;
                    display: block;
                    border-bottom: 1px solid #9FC089;
                }
                .submenu li a:hover{
                    background-color: #000000;
                    color: #fff;
                }
                .spenden:hover .submenu{
                    display: block;
                }
            }


            .ham-menu{
                display: none;
            }
            .offscreenmenu{
                display: none;
            }
        }
    }

    main {
 }
}