body {
    font-family: 'Lato', sans-serif;
    background-color: #121412;
    margin: 0;

    header {
        /*TODO STICKY HEADER MACHEN UND ÜBERPRÜFEN*/
        background-color:#272827;

        nav{
            padding: 1rem;
            /*border: 0.3rem solid #ffffff;*/
            display: flex;
            background-color: #272827;
        }
        /*
            MOBILE ANSICHT
        */

        .desktop-menu{
            display: none;
        }

        .offscreenmenu {
            background-color: #000000;
            height: 100vh;
            width: 100%;
            max-width: 350px;
            position: fixed;
            top: 5.1rem;
            left: -450px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 4rem;
            line-height: 4rem;
            transition: .3s ease;
        }
        .offscreenmenu.active {
            left: 0;
        }

        ul{
            list-style: none;
            font-size: 2rem;
            align-content: center;
            color:#9FC089;
            font-family: 'Lato', sans-serif;
        }



        .ham-menu{
            height: 50px;
            width: 50px;
            margin-right:auto;
            position: relative;
        }
        .ham-menu span{
            height: 5px;
            width:100%;
            background-color: #9FC089;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;
        }
        .ham-menu span:nth-child(1) { top: 25%; }
        .ham-menu span:nth-child(3) { top: 75%; }

        .ham-menu.active span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        .ham-menu.active span:nth-child(2) {
            opacity: 0;
        }
        .ham-menu.active span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .logo{
            width:30%;
            hight:30%;

        }
        /*TODO hier noch tablett version: ham menu mit dem butten spenden rechts, die anderen buttons nicht*/

        /********************************************
            FÜR DESKTOP ANSICHT
       *************************************/
        @media screen and (min-width: 1024px) {

            .desktop-menu {
                display: block;
            }

            .ham-menu, .offscreenmenu, .mobile-nav-toggle {
                display: none
            }

            .container {
                margin: 0 auto;
                width: 100%;
            }

            .header-top {
                background-color: #272827;
                padding: 0;
                border-bottom: 0.2rem dotted #9FC089;
            }

            .meta-nav {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                margin-right: 2rem;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;
            }

            .meta-nav li {
                margin-left: 2rem;
            }

            .meta-nav a {
                color: #B9B0A2;
                text-decoration: none; /*nicht underlined*/
                font-size: 1.2rem;
            }

            /* Sticky Navigation */
            .header-main {
                position: sticky;
                top: 0;
                z-index: 1000; /*bringt element nach vorne*/
                background-color: #272827;
            }

            .nav-wrapper {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }

            .nav-wrapper ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            .spenden > a {
                color: #B9B0A2;
                margin-right: 2rem;
                text-decoration: none;
            }

            /* Dropdown */
            .spenden {
                position: relative;
            }

            .sub-menu {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: #1A1B1A;
                /*min-width: 200px;*/
                list-style: none;
                padding: 0;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            .sub-menu li a {
                color: #9FC089;
                font-size: 1.6rem;
                padding: 12px 15px;
                display: block;
                text-decoration: none;
                border-bottom: 1px solid #9FC089;
            }

            .sub-menu li a:hover {
                background-color: #000000;
            }

            .spenden:hover .sub-menu {
                display: block;
            }
        }
    }

    main {
        .titel{
            font-family: "Oldenburg", serif;
            color: #9FC089;
            text-shadow: -2px -2px 3px #272827;
        }
        .sub-titel{
            font-family: "Oldenburg", serif;
            color: #B9B0A2;
        }

        /* 1. Abschnitt: Abschnitt Kreise : zeigen Leistungen*/
        .abschnittKreise{
            /**TODO hier können so menüs rechts neben den aufploppen wenn man die hovert (was die einzelnen sind) */
            background-color: #39352A;
            block-size: 13rem;

            .Icons{
                padding-top:1rem;
                width: 6.5rem;
                height:auto;
            }

            .IconText{
                padding-top:0.5rem;
                color: #B9B0A2;
            }

           /* DesktopAnsicht: 1.AbschnittKreise*/
            @media screen and (min-width: 1024px) {
                block-size: 25rem;
                padding: 4rem;
                .Icons{
                    width: 12rem;
                }
                .IconText{
                    padding-top:2rem;
                    font-family: 'Lato', sans-serif;
                }

                .Icons:hover{
                    box-shadow: 0 0 20px #9FC089;
                    border-radius: 25%;
                    padding-bottom: 1rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                .Icons:hover + .IconText{
                    color: #9FC089;
                }
                .IconText:hover{
                    color:#9FC089;
                }

            }
        }

        /* 2. Abschnitt: WillkommensText */
        .WillkommensText {
            background-color: #5A5C4D;
            padding: 4rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-kasten {
            background-color: #292723;
            color: #B9B0A2;
            padding: 2.5rem;
            border-radius: 30px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        /*mobile*/
        .beschreibungTitle {
            font-family: "Oldenburg", serif;
            color: #9FC089;
            margin-bottom: 1.5rem;
            display: block;
        }

        .beschreibungInhalt, .beschreibungEnde, .beschreibungWenigerInfo {
            display: none;
        }

        .active{ /*es werden alle Informationen angeziegt*/
            display: block;
        }

        .hidden{
            display: none;
        }

        .beschreibungMehrInfo {
            color: #B9B0A2;
            font-family: 'Lato', sans-serif;
        }
        .beschreibungWenigerInfos{
            color: #B9B0A2;
            font-family: 'Lato', sans-serif;
        }


        .beschreibungInhalt {
            color: #B9B0A2;
            font-size: 1.1rem;
            font-family: 'Lato', sans-serif;
            line-height: 1.6;
            margin: 0;
        }

        .beschreibungEnde {
            color: #9FC089;
            font-size: 1.2rem;
        }

        /* DesktopAnsicht: 2. Section WillkommensText */
        @media screen and (min-width: 1024px) {
            .beschreibungMehrInfo{
                display:none;
            }
            .beschreibungInhalt {
                display: block;
                color: #B9B0A2;
                font-size: 1.3rem;
                font-family: 'Lato', sans-serif;
                line-height: 1.6;
                margin: 0;
            }

            .beschreibungEnde {
                display: block;
                color: #9FC089;
                font-size: 1.2rem;
            }

        }
/*
        .bubble{
            background-color: #272827;
            color: #B9B0A2;
            padding: 1.5rem;
            border-radius: 30px;
            border: 1px solid #9FC089;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 10px #9FC089;
        }


        .bubble-map{
            padding:0;
        }*/
    }
 }