body {
    font-family: 'Lato', sans-serif;
    background-color: #121412;
    margin: 0;

    header {
        background-color: #272827;
        position: sticky;
        top: 0;
        z-index: 1000;

        nav {
            padding: 0.5rem;
            /*border: 0.3rem solid #ffffff;*/
            display: flex;

            background-color: #272827;
        }

        /*
            MOBILE ANSICHT
        */

        .desktop-menu {
            display: none;
        }

        .offscreenmenu {
            background-color: #121412;
            height: 100vh;
            width: 100%;
            max-width: 250px;
            position: fixed;
            top: 4.1rem;
            left: -450px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 2rem;
            line-height: 3rem;
            transition: .3s ease;
        }

        .offscreenmenu.active {
            left: 0;
        }

        ul {
            list-style: none;
            margin-top: 1rem;
            font-size: 1.5rem;
            align-content: center;
            color: #B9B0A2;
            font-family: 'Lato', sans-serif;
        }


        .ham-menu {
            height: 50px;
            width: 50px;
            margin-right: auto;
            position: relative;
        }

        .ham-menu span {
            height: 5px;
            width: 100%;
            background-color: #9FC089;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;
        }

        .ham-menu span:nth-child(1) {
            top: 25%;
        }

        .ham-menu span:nth-child(3) {
            top: 75%;
        }

        .ham-menu.active span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .ham-menu.active span:nth-child(2) {
            opacity: 0;
        }

        .ham-menu.active span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .logo {
            width: 50%;
            hight: 50%;
            align-self: center;
            margin-top: 2rem;
            border-radius: 50%;
            box-shadow: 0 4px 6px #B9B0A2;
        }


        /********************************************
            FÜR DESKTOP ANSICHT
       *************************************/
        @media screen and (min-width: 1024px) {

            .desktop-menu {
                display: block;
            }

            .ham-menu, .offscreenmenu, .mobile-nav-toggle {
                display: none
            }

            .header-top {
                background-color: #272827;
                padding: 0;
                border-bottom: 0.2rem dotted #9FC089;
            }

            .container {
                margin: 0 auto;
                width: 100%;
            }

            .meta-nav {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                margin-right: 2rem;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;
            }

            .meta-nav li {
                margin-left: 2rem;
            }

            .meta-nav a {
                color: #B9B0A2;
                text-decoration: none; /*nicht underlined*/
                font-size: 1.2rem;
            }
        }
    }

    /* Sticky Navigation */

    .header-main {
        display: none;
    }

    @media screen and (min-width: 1024px) {
        .header-main {
            display: block;
            position: sticky;
            top: 0;
            z-index: 1000; /*bringt element nach vorne*/
            background-color: #272827;
            width: 100%;
        }

        .nav-wrapper {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        .nav-wrapper ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .spenden > a {
            color: #B9B0A2;
            margin-right: 2rem;
            text-decoration: none;
            font-size: 1.8rem;
        }

        /* Dropdown */
        .spenden {
            position: relative;
        }

        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #1A1B1A;
            /*min-width: 200px;*/
            list-style: none;
            padding: 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .sub-menu li a {
            color: #9FC089;
            font-size: 1rem;
            padding: 12px 15px;
            display: block;
            text-decoration: none;
            border-bottom: 1px solid #9FC089;
        }
    }

    .sub-menu li a:hover {
        background-color: #000000;
    }

    .spenden:hover .sub-menu {
        display: block;
    }

    .logo-box-desk {
        position: absolute;
        top: 3.5rem;
        left: 1rem;
        width: 6%;
        height: 10rem;
        background-color: #272827;
        padding: 15px;
        border: 2px solid #9FC089;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        text-align: center;
        border-top: none;
        border-radius: 0 0 15px 15px;
        display: flex;
        align-items: end;
        justify-content: flex-start;
    }

    .logoDesk {
        width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 4px 6px #B9B0A2;
    }

    .hoverLogo {
        display: none;
        color: #9FC089;
        font-family: "Oldenburg", serif;
        font-size: 1.5rem;
        padding: 1rem;
        margin-left: 15px;
    }

    .logo-box-desk:hover .hoverLogo {
        display: block;
    }


}


main {


    /*0. Abschnitt: hero */

    .hero {
        .titel {
            font-family: "Oldenburg", serif;
            color: #9FC089;
            text-shadow: -2px -2px 3px #272827;
        }

        .sub-titel {
            font-family: "Oldenburg", serif;
            color: #B9B0A2;
        }

        background-image: linear-gradient(to bottom, #121412, #24221C);
        /* background-image: linear-gradient(to bottom, #121412, #39352A);*/
    }

    /* 1. Abschnitt: Abschnitt Kreise : zeigen Leistungen*/

    .abschnittKreise {
        /**TODO hier können so menüs rechts neben den aufploppen wenn man die hovert (was die einzelnen sind) */
        background-color: #39352A;
        margin-top: -1px;
        block-size: 13rem;

        .Icons {
            padding-top: 1rem;
            width: 6.5rem;
            height: auto;
        }

        .IconText {
            padding-top: 0.5rem;
            color: #B9B0A2;
        }

        /* DesktopAnsicht: 1.AbschnittKreise*/
        @media screen and (min-width: 1024px) {
            block-size: 25rem;
            padding: 4rem;
            .Icons {
                width: 12rem;
            }

            .IconText {
                padding-top: 2rem;
                font-family: 'Lato', sans-serif;
            }

            .ErklärungAussortieren, .ErklärungAuswaehlen, .ErklärungAbschicken {
                position: relative;
                display: block;
                background-color: #292723;
                color: #9FC089;
                padding: 1.5rem;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
                border-radius: 30px; /*% zahl geht nicht weil dann ungleiche ecken- wir müssen px machen*/
            }

            .Icons:hover {
                box-shadow: 0 0 20px #9FC089;
                border-radius: 25%;
                padding-bottom: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .Icons:hover + .IconText {
                color: #9FC089;
            }

            .IconText:hover {
                color: #9FC089;
            }

        }
    }

    /* 2. Abschnitt: WillkommensText */

    .WillkommensText {
        background-color: #5A5C4D;
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-kasten {
        background-color: #292723;
        color: #B9B0A2;
        padding: 2.5rem;
        border-radius: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    /*mobile*/

    .beschreibungTitle {
        font-family: "Oldenburg", serif;
        color: #9FC089;
        margin-bottom: 1.5rem;
        display: block;
    }

    .beschreibungInhalt, .beschreibungEnde, .beschreibungWenigerInfo {
        display: none;
    }

    .active { /*es werden alle Informationen angeziegt*/
        display: block;
    }

    .hidden {
        display: none;
    }

    .beschreibungMehrInfo {
        color: #B9B0A2;
        font-family: 'Lato', sans-serif;
    }

    .beschreibungWenigerInfos {
        color: #B9B0A2;
        font-family: 'Lato', sans-serif;
    }


    .beschreibungInhalt {
        color: #B9B0A2;
        font-size: 1.1rem;
        font-family: 'Lato', sans-serif;
        line-height: 1.6;
        margin: 0;
    }

    .beschreibungEnde {
        color: #9FC089;
        font-size: 1.2rem;
    }

    /* DesktopAnsicht: 2. Section WillkommensText */
    @media screen and (min-width: 1024px) {
        .beschreibungMehrInfo, .beschreibungWenigerInfo {
            display: none;
        }

        .beschreibungInhalt {
            display: block;
            color: #B9B0A2;
            font-size: 1.3rem;
            font-family: 'Lato', sans-serif;
            line-height: 1.6;
            margin: 0;
        }

        .beschreibungEnde {
            display: block;
            color: #9FC089;
            font-size: 1.2rem;
        }

    }

    /*3. Abschnitt: Auswahl Spenden*/

    .AuswahlSpenden {
        background-color: #272827;
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;
    }

    .SpendenAufruf {
        color: #9FC089;
        font-family: "Oldenburg", serif;
        text-transform: uppercase;
        text-shadow: -2px -2px 3px #272827;
        justify-content: center;
        text-align: center;
    }

    .TextAuswahl {
        color: #B9B0A2;
        text-align: center;
    }

    .IconAuswahl {
        margin-top: 2rem;
    }

    .SpendenIcon {
        width: 100%;
        height: auto;
    }

    button {
        background: none;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 25px;
        overflow: hidden;
        border: 2px solid #9FC089;
        box-shadow: 0px 0px 10px #B9B0A2;
    }

    /* DesktopAnsicht: 3. Section Auswahl Spenden*/
    @media screen and (min-width: 1024px) {

        .IconAuswahl {
            margin-top: 2rem;
        }

        button {
            width: 80%;
            height: auto;
        }
    }

    /*4. Abschnitt: FAQs*/

    .FAQs {
        background-color: #0D1A00;
        padding: 3rem 0rem;
        display: flex;
    }

    .FAQTitle {
        justify-content: flex-start;
        color: #B9B0A2;
        /*border-bottom: 0.2rem dotted #9FC089;*/
    }

    .FrageWas, .FrageWohin, .FrageReal {
        justify-content: flex-start;
        color: #B9B0A2;
        border-bottom: 0.2rem dotted #9FC089;
    }

    .FrageWas:hover, .FrageWohin:hover, .FrageReal:hover {
        color: #9FC089;
    }

    .AntwWas, .AntwWohin, .AntwReal {
        justify-content: flex-start;
        color: #9FC089;
        margin-left: 2rem;
        display: none;
    }

    .active {
        display: block;
    }


    /*5. Abschnitt: Weltkarte*/

    .Weltkartee {
        border-radius: 30px;
        text-align: center;
        overflow: hidden;
        width: 100%;
        height: auto;
        border: 2px solid #9FC089;
        box-shadow: 0px 0px 10px #B9B0A2;
    }


}

.footer {
    background-color: #272827;
}

.BasisInfos {
    color: #9FC089;
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    border-bottom: 0.2rem dotted #9FC089;
}

.ImpressumTitle, .KontakteTitle {
    color: #9FC089;
    font-family: "Oldenburg", serif;
    padding: 2rem;
    padding-bottom: 1rem;
}

.Impressum, .Kontakte {
    background-color: #272827;
    color: #B9B0A2;
    padding-left: 2rem;
}


